html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Lato', sans-serif;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    padding: 1rem;
}